spring:
  application:
    name: product-admin-service
  datasource:
    url: jdbc:mysql://mysql:3306/promptoven_product
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    generate-ddl: true
  data:
    mongodb:
      host: mongodb
      port: 27017
      database: product_service
      username: root
      password: 1234
      authentication-database: admin  # 인증 데이터베이스 추가
  kafka:
    bootstrap-servers: kafka-1:9092,kafka-2:9092,kafka-3:9092
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

server:
  port: 8080
  shutdown: graceful

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

encrypted:
  secret-key: PNFKTKKtI6PtL7UQHKTUG8tgWadm/Y2krrXUYlrjZ5Q=

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true